/* Custom Properties */

:root {
	--first-color: rgb(255, 98, 0);
	--first-alpha-color: rgba(255, 98, 0, 0.75);
	--second-color: rgb(12, 15, 17);
	--second-alpha-color: rgba(12, 15, 17, 0.75);
	--third-color: rgb(245, 245, 245);
	--third-alpha-color: rgba(245, 245, 245, 0.75);

	--link-color: rgb(234, 54, 1);
	--link-alpha-color: rgba(234, 54, 1, 0.75);

	--bg-color: rgb(33, 37, 41);
	--bg-alpha-color: rgba(33, 37, 41, 0.75);
}

/* Reset Styles*/
body {
	font-family: 'Open Sans', sans-serif;
}

/*  Bootstrap Styles */

/* My Styles */

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
